{% extends 'flatpages/default.html' %}
{% block title %} {{flatpage.title}}
{% endblock title %}
{% block content %}
<h4 style="text-align: center;">Добро пожаловать <br />в <a class="text-entity-link" dir="auto" data-entity-type="MessageEntityHashtag">#BE_FIT&nbsp;</a>WELLNESS BEAUTY <img class="emoji emoji-small" src="https://web.telegram.org/z/img-apple-64/1f33f.png" alt="🌿" width="23" height="23" data-path="./img-apple-64/1f33f.png" /></h4>
<p style="text-align: center;"><br /><br />Мы &mdash; домашняя спортивная студия. Найдем особый подход к&nbsp;каждому!<br /><br />Тренируйся индивидуально или&nbsp;в группе до 5 человек:<br /><strong>FLEX, TRX, ZUMBA, YOGA, FUNCTIONAL TRAINIG</strong></p>

<p style="text-align: center;"><strong>Массажный кабинет:</strong></p>
<p style="text-align: center;">Кавитация</p>
<p style="text-align: center;">Аппаратная коррекция фигуры</p>
<p style="text-align: center;">RF-лифтинг для лица и тела</p>
<p style="text-align: center;">Кинезиотерапия</p>
<p style="text-align: center;">Ручной массаж&nbsp;</p>
<p style="text-align: center;"><strong>Кабинет эстетики:</strong></p>
<p style="text-align: center;">Маникюр</p>
<p style="text-align: center;">Педикюр</p>
{% endblock content %}