{% extends 'flatpages/default.html' %}
{% block title %} {{flatpage.title}}
{% endblock title %}
{% block content %}
{{flatpage.content}}{{flatpage.content}}
<hr>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Написать на почту:</strong></p>
<p style="text-align: center;"><a href="mailto:be_fit_wd_hardzone@mail.ru">be_fit_wd_hardzone@mail.ru</a></p>
<p style="text-align: center;"><strong>Позвонить по телефону:</strong></p>
<p style="text-align: center;">+79999999999 - Whats app, Telegram</p>
<p>&nbsp;</p>
{% endblock content %}