{% extends 'flatpages/default.html' %}
{% block title %} {{flatpage.title}}
{% endblock title %}
{% block content %}
<h3><i>{{flatpage.content}}</i></h3>
<hr>
<table style="height: 283px; width: 466px; background-color: #f0e68c; margin-left: auto; margin-right: auto;" border="2" cellspacing="2" cellpadding="2">
<tbody>
<tr>
<td style="width: 51px; text-align: center;"><strong>ВТ</strong></td>
<td style="width: 245px; text-align: center;">
<p>Zumba kids - 17:00</p>
<p>Functional trening - 18:10</p>
<p>Flex - 20:00</p>
</td>
</tr>
<tr style="text-align: center;">
<td style="width: 51px; text-align: center;"><strong>СР</strong></td>
<td style="width: 245px;">
<p>Functional trening - 10:00</p>
<p>Yoga -&nbsp;19:00</p>
</td>
</tr>
<tr style="text-align: center;">
<td style="width: 51px; text-align: center;"><strong>ЧТ</strong></td>
<td style="width: 245px;">
<p>Functional trening - 18:30/19:30/20:30</p>
</td>
</tr>
<tr style="text-align: center;">
<td style="width: 51px; text-align: center;"><strong>ПТ</strong></td>
<td style="width: 245px;">
<p>Functional trening - 10:00</p>
</td>
</tr>
<tr style="text-align: center;">
<td style="width: 51px; text-align: center;"><strong>ВС</strong></td>
<td style="width: 245px;">
<p>Functional trening - 14:10</p>
<p>Flex - 15:30</p>
<p>Yoga - 17:00</p>
</td>
</tr>
</tbody>
</table>
{% endblock content %}